@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Poppins", sans-serif;

  --color-primary: #101828;
  --color-secondary: #7f56d9;
  --color-html: #e5e7eb;
  --color-white: #ffffff;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --shadow-primary: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

body {
  @apply w-full max-w-360 mx-auto font-primary bg-white;
}

.container {
  @apply px-4 lg:px-8 w-full max-w-320 mx-auto;
}

.input {
  @apply px-4 h-14 w-full border border-gray-300 focus:border-violet-700 outline-none rounded text-sm placeholder:text-gray-400 transition-colors duration-300;
}

.textarea {
  @apply p-4 h-36 w-full border border-gray-300 focus:border-violet-700 outline-none rounded text-sm placeholder:text-gray-400 transition-colors duration-300 resize-none;
}

.btn {
  @apply py-3 px-4 rounded-lg;
}

.btn-primary {
  @apply bg-violet-700 hover:bg-violet-800 cursor-pointer text-white transition-colors duration-300;
}

.btn-secondary {
  @apply hover:text-violet-800;
}

.dropdown {
  @apply w-full lg:max-w-74 cursor-pointer;
}

.dropdown-btn {
  @apply flex h-16 items-center px-4.5 border border-gray-300 rounded-lg outline-none cursor-pointer;
}

.dropdown-icon-primary {
  @apply text-2xl mr-4.5 text-violet-700;
}

.dropdown-icon-secondary {
  @apply text-2xl text-violet-700 ml-auto;
}

.dropdown-menu {
  @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg outline-none;
}
